body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 20px #eee;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0px 35px 0px 0px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

@import url('./components/layout/layout.css');
@import url('./components/auth/auth.css');  
@import url('./components/utils/notification/Notification.css');
@import url('./components/utils/notFound/NotFound.css');
@import url('./components/page/page.css');
@import url('./components/page/admin/admin.css');

/* Color*/
:root {
  --primary-dark: #012E4A;
  --primary: #036280;
  --secondary: #378BA4;
  --primary-light: #81BECE;
  --white: #E8EDE7;
  --text-danger: #DF2E38; 
  --text-success: #5D9C59;
  --text-warning: #F2B705;
  --text-info: #1a79a8;
}